* {
    border: none;
    border-radius: 0px;
    font-family: "Hack Nerd Font Mono Regular", "MesloLGS Nerd Font", "Arial", "Helvetica", "sans-serif";
    font-size: 10px;
    min-height: 0;
}

#waybar {
    background: transparent;
    background-color:rgba(0, 0, 0, 0);
    transition-property: background-color;
    transition-duration: .5s;
    font-family: "Hack Nerd Font Mono Regular", "MesloLGS Nerd Font", "Arial", "Helvetica", "sans-serif";
    min-height: 0;
}

    #waybar.top {
        background: none;
        transition-property: background-color;
        transition-duration: .5s;
        font-family: "Hack Nerd Font Mono Regular", "MesloLGS Nerd Font", "Arial", "Helvetica", "sans-serif";
        min-height: 0;
    }

    #waybar.bottom {
        background: transparent;
        transition-property: background-color;
        transition-duration: .5s;
        font-family: "Hack Nerd Font Mono Regular", "MesloLGS Nerd Font", "Arial", "Helvetica", "sans-serif";
        min-height: 0;
    }

    window#waybar {
        font-family: "Hack Nerd Font Mono Regular", "MesloLGS Nerd Font", "Arial", "Helvetica", "sans-serif";
        background: rgba(0, 0, 0, 0);
        transition: background .3s;
    }

    window#waybar.hidden {
        opacity: 0.8;
    }


#activity,
#control,
#hardware,
#privgroup,
#screenrecord,
#system {
    font-size: 8px;
    transition: none;
    margin: 0px;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#keyboard-state,
#language,
#memory,
#mode,
#network,
#power-profiles-daemon,
#pulseaudio,
#privacy,
#privacy-item,
#scratchpad,
#temperature,
#tray,
#wireplumber {
        background: #383c4a;
        border-radius: 10px;
        color: #ffffff;
        padding-bottom: 5px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 5px;
        transition: none;
}

#custom-cava,
#custom-containers,
#custom-grimshot,
#custom-keyboard-layout,
#custom-launcher,
#custom-mediaplayer,
#custom-mem,
#custom-weather,
#custom-wfrecord,
#custom-vm,
#custom-notification,
#custom-power {
        background: #383c4a;
        border-radius: 10px;
        color: #ffffff;
        padding-bottom: 5px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 5px;
        transition: none;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    opacity: 0.90;
    background: transparent;
    padding: 5px;
}

    #workspaces button {
        transition: none;
        background: #383c4a;
        font-size: 10px;
        border-radius: 5px;
        color: #eceff4;
        padding: 1px 6px;
        margin-right: 2px;
        margin-left: 2px;
    }

    #workspaces button.persistent {
        color: #8c827c;
        font-size: 12px;
    }

    /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
    #workspaces button:hover {
        transition: none;
        box-shadow: inherit;
        text-shadow: inherit;
        border-radius: inherit;
        color: #383c4a;
        background: #7c818c;
    }

    #workspaces button.focused {
        color: rgb(62, 212, 16);
        border: 2px solid #ff6600;
    }

    #workspaces button.urgent {
        border-color: #c9545d;
        color: #000000;
        border: 3px solid #c9545d;
    }

#wireplumber.muted,
#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

    #memory.warning {
        color: orange;
        animation-name: blink-critical;
        animation-duration: 2s;
        padding-left: 5px;
        padding-right: 5px;
    }

    #memory.critical {
        color: red;
        animation-name: blink-critical;
        animation-duration: 2s;
        padding-left: 5px;
        padding-right: 5px;
    }

temperature.critical {
    background-color: #eb4d4b;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #b32727;
    }
}

#privacy-item.screenshare {
    color: #1b7fd1;
}
#privacy-item.audio-out
{
    color: #30d11b;
}

#privacy-item.audio-in {
    color: #d11b1b;
}

#systemd-failed-units,
#systemd-failed-units.ok,
#systemd-failed-units.degraded
{
    border-radius: 10px;
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #383c4a;
    color: #ffffff;
}

#custom-mediaplayer {
    background-color: #d0bfff;
    background-image: linear-gradient(62deg, #c4b4ff 0%, #b15eff 100%);
    color: black;
}

    #custom-mediaplayer.custom-spotify {
        background-image: linear-gradient(62deg, #bedeff 0%, #525dff 100%);
    }

    #custom-mediaplayer.custom-vlc {
        background-image: linear-gradient(62deg, #fbffd2 0%, #fde872 100%);
    }

    #custom-mediaplayer.custom-strawberry {
        background-image: linear-gradient(62deg, #ffc0dd 0%, #ff77ab 100%);
    }

    #custom-mediaplayer.custom-smplayer {
        background-image: linear-gradient(62deg, #ffb3b3 0%, #3cd616 100%);
    }

#custom-cava {
    font-family: "bargraph";
}
