* {
    border: none;
    border-radius: 0px;
    font-family: "Hack Nerd Font Mono Regular", "MesloLGS Nerd Font", "Arial", "Helvetica", "sans-serif";
    font-size: 10px;
    min-height: 0;
}

#waybar {
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
    font-family: "Hack Nerd Font Mono Regular", "MesloLGS Nerd Font", "Arial", "Helvetica", "sans-serif";
    min-height: 0;
}

#waybar.top {
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
    font-family: "Hack Nerd Font Mono Regular", "MesloLGS Nerd Font", "Arial", "Helvetica", "sans-serif";
    min-height: 0;
}

#waybar.bottom {
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
    font-family: "Hack Nerd Font Mono Regular", "MesloLGS Nerd Font", "Arial", "Helvetica", "sans-serif";
    min-height: 0;
}

window#waybar {
    font-family: "Hack Nerd Font Mono Regular", "MesloLGS Nerd Font", "Arial", "Helvetica", "sans-serif";
    background: rgba(0, 0, 0, 0);
    transition: background .3s;
}

window#waybar.hidden {
    opacity: 0.8;
}

#control,
#activity,
#privgroup,
#system,
#screenrecord,
#hardware {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12px;
    padding: 5px;
}

#custom-launcher,
#mode,
#clock,
#wireplumber,
#pulseaudio,
#custom-keyboard-layout,
#keyboard-state,
#network,
#disk,
#cpu,
#temperature,
#backlight,
#battery,
#scratchpad,
#tray,
#privacy,
#privacy-item,
#custom-vm,
#custom-containers,
#custom-grimshot,
#custom-wfrecord,
#custom-mem,
#custom-notification,
#custom-power,
#custom-weather,
#power-profiles-daemon,
#idle_inhibitor,
#language,
#keyboard-state {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
    padding-top: 5px;
    padding-bottom: 5px;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    opacity: 0.90;
    background: transparent;
    padding: 5px;
}

#workspaces button {
    transition: none;
    background: #383c4a;
    font-size: 10px;
    border-radius: 5px;
    color: #eceff4;
    padding: 1px 6px;
    margin-right: 2px;
    margin-left: 2px;
}

#workspaces button.persistent {
    color: #8c827c;
    font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    background: #7c818c;
}

#workspaces button.focused {
    color: rgb(62, 212, 16);
    border: 2px solid #ff6600;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #000000;
    border: 2px solid #c9545d;
}

#wireplumber.muted,
#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #a5a6ac;

}

#memory.warning {
    color: orange;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left: 5px;
    padding-right: 5px;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left: 5px;
    padding-right: 5px;
}

temperature.critical {
    background-color: #eb4d4b;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}padding: 5px;

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #b32727;
    }
}

#privacy-item.screenshare {
    color: #1b7fd1;
}
#privacy-item.audio-out
{
    color: #30d11b;
}

#privacy-item.audio-in {
    color: #d11b1b;
}

#systemd-failed-units,
#systemd-failed-units.ok,
#systemd-failed-units.degraded
{
    border-radius: 10px;
    margin-right: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #383c4a;
    color: #ffffff;
}

#custom-mediaplayer {
    background-color: #d0bfff;
    background-image: linear-gradient(62deg, #c4b4ff 0%, #b15eff 100%);
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}

#custom-mediaplayer.custom-spotify {
    background-image: linear-gradient(62deg, #bedeff 0%, #525dff 100%);
}

#custom-mediaplayer.custom-vlc {
    background-image: linear-gradient(62deg, #fbffd2 0%, #fde872 100%);
}

#custom-mediaplayer.custom-strawberry {
    background-image: linear-gradient(62deg, #ffc0dd 0%, #ff77ab 100%);
}

#custom-mediaplayer.custom-smplayer {
    background-image: linear-gradient(62deg, #ffb3b3 0%, #3cd616 100%);
}

#custom-cava {
    color: #8FBC8F;
    border-radius: 10px;
    border-left: 0px;
    border-right: 0px;
    background-color: #383c4a;
    font-family: "bargraph";
}
